html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.4rem;
}

* {
    padding: 0;
    margin: 0;
}

.app {
    & > header {
        background-color: #be4443;
        min-width: 6rem;
        color: #fff;
        font-weight: bold;
        font-size: 2.8rem;
        padding: 1.5rem 5%;
    }
}