.drag-item {
    padding: 0.5rem 1rem;
    background-color: #ffd894;
    min-width: 22rem;
    color: #f78f1e;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    cursor: -webkit-grab;
    font-size: 1.4rem;
    &.locked {
        cursor: default;
    }
}